mat-table, .mat-header-cell, .mat-cell, .mat-row, .mat-header-row {
    font-family: 'Lato', sans-serif !important;
  }

.mat-mdc-table, 
.mat-mdc-header-row, 
.mat-mdc-row, 
.mat-mdc-cell, 
.mat-mdc-header-cell {
  font-family: 'Lato', sans-serif !important;
}

.mat-mdc-header-row{
    font-weight: bold;
    font-size: 30px;
}

.mat-mdc-row{
    font-size: 20px;
}
  

.full-width-table {
    width: 100%;
  }
  
  .icon-cell {
    text-align: right;
    padding-right: 16px;
  }
  
  .arrow-icon {
    cursor: pointer;
  }