.content-container {
    margin: 20px;
}

.custom-divider {
    width: 320px;
    margin: auto; 
    border-width: 2px; 
    border-color: rgba(0, 0, 0, 0.12); 
  }
  
  .add-button-container {
    display: flex;
    justify-content: center; 
    margin-top: 12px; 
    position: relative; 
  }
  
  .add-button {
    --mdc-fab-container-shape: 50%; 
    --mdc-fab-size: 56px; 
    --mdc-fab-icon-size: 100%; 
    padding: 0 !important;
    width: 56px !important;
    height: 56px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute; 
  }
  
  .add-button mat-icon {
    font-size: 24px !important; 
    width: 24px !important;
    height: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  