<mat-toolbar class="header">
  
  <!-- Título no meio -->
  <a routerLink="/" >
    <img src="assets/logo.png" alt="Logo" width="100" />
  </a>
  
  <div class="spacer"></div>
  
  <!-- Botões da Navbar -->
  <button mat-button routerLink="/viagens">Viagens</button>
  <button mat-button routerLink="/motoristas">Motoristas</button>
  <button mat-button routerLink="/veiculos">Veículos</button>

  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="optionsMenu">
    <mat-icon class="notifications-icon">notifications</mat-icon>
  </button>
  
</mat-toolbar>

<!-- Submenu de Opções -->
<mat-menu #optionsMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>settings</mat-icon> Configurações
  </button>
  <button mat-menu-item>
    <mat-icon>person</mat-icon> Perfil
  </button>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon> Sair
  </button>
</mat-menu>

<div class="content-container">
  <router-outlet></router-outlet>
</div>


<mat-toolbar class="footer">
  <div class="footer-container">
    <a href="https://www.linkedin.com/in/mariana-faustino-456915100/" target="_blank">
      <mat-icon>copyright</mat-icon>
      Mariana Faustino 2025
    </a>
  </div>
</mat-toolbar>

