

<div class="viagem-detail">
    <div class="container-map-detail">
        <app-mapa *ngIf="vehicleId" [vehicleId]="vehicleId" [startingLocation]="startingLocation" [finalLocation]="finalLocation"></app-mapa>
    </div>
    
    <div class="container-details" *ngIf="viagemDetalhes">
        <h2>Detalhes da Viagem <span>#{{ viagemDetalhes?.id }}</span></h2>
        <p>Motorista: {{ driverName || 'Carregando...' }}</p>
        <p>Veículo: {{ vehiclePlate || 'Carregando...' }}</p>
        <p>Início: {{ start | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p *ngIf="end">Final: {{ end | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p>Status: {{ viagemDetalhes?.status }}</p>
        
        <div class="button-container">
            <button mat-raised-button color="primary" >Editar</button>
            <button mat-raised-button color="warn">Excluir</button>
        </div>
    </div>
</div>

