<div class="search-filter-container">
  <app-search-bar (searchChange)="applySearch($event)" placeholder="Digite a placa..."></app-search-bar>

  <!-- Filtro de Status -->
  <app-filtro-menu
    titulo="Status"
    [opcoes]="statusOptions"
    (filtroSelecionado)="applyStatusFilter($event)">
  </app-filtro-menu>

  <!-- Filtro de Tipo -->
  <app-filtro-menu
    titulo="Tipo"
    [opcoes]="tipoOptions"
    (filtroSelecionado)="applyTipoFilter($event)">
  </app-filtro-menu>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">

  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo </th>
    <td mat-cell *matCellDef="let element"> 
      {{ element.type | tradutor:'vehicle' }} 
    </td>
  </ng-container>

  <ng-container matColumnDef="placa">
    <th mat-header-cell *matHeaderCellDef> Placa </th>
    <td mat-cell *matCellDef="let element"> {{ element.plate }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> 
      {{ element.status | tradutor:'status' }} 
    </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element" class="icon-cell">
      <mat-icon class="arrow-icon">arrow_forward</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
